DATABASE_URL="postgresql://hris:hris_dev_password@localhost:5433/hris?schema=public"

AUTH_SECRET="generate-with-npx-auth-secret"
AUTH_URL="http://localhost:3000"

BLOB_READ_WRITE_TOKEN=""
SHADOW_DATABASE_URL="postgresql://hris:hris_dev_password@localhost:5433/hris_shadow?schema=public"
